/******************************************/
/*
/*
/*
/*
/******************************************/

@font-face {
    font-family: titulo;
    src: url();
}

@font-face {
    font-family: texto;
    src: url();
}
* {box-sizing: border-box;}             /* el width incluye el padding el espacio en blanco lo coge de dentro del cuadro lo haré siempre */
body{background-color: blueviolet;
    background-image: url(./../img/08-10-2015-cake_pattern_outline_dots.jpg);
    background-size: 50%;} 

#wrapper {background-color: #fff;
            width: 80%;                     /* el width va en porcentaje */
            margin:auto;
            padding: 10%;
            border-radius:20px ;}             
        
h1 {border:2px solid red;
    text-align: center;
    padding: 10px ;
    /* sombra de caja */
    box-shadow: 15px 15px 15px gray;
    ;}            
blockquote {border-left: 3px solid blueviolet;
            font-style: italic;             /* para poner en cursiva */
            font-weight: bold;              /* para poner en negrita */
            background-color: gray;
            padding: 10px;                  /* margin y padding pequeños pueden estar en pixeles */
        }
#foto {width: 80%;
       margin: auto;                        /* a todo el ancho dnd esta colocada , en este caso, el wrapper */
       display: block;}                     /* para que se comporte como un bloque */   
    h2 {color: brown;}
    font-size: {1.2em;}
